@{
    ViewData["title"] = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Login</h1>
<form action="~/User/Login" method="post">

    <div class="row form-group">
        <label for="email" class="col-form-label col-md-2">Email</label>
        <div class="col-md-10">
            <input type="text" name="email" id="email" class="form-control">
        </div>
    </div>

    <div class="row form-group">
        <label for="password" class="col-form-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" name="password" id="password" class="form-control">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-10 offset-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>

</form>