@model crud_web_application.Models.Product;
@{
    ViewData["title"] = "Xoa san pham";
}

<div class="card">
    <div class="card-header">
        <h1 class="h6">Xoa san pham</h1>
    </div>
    <div class="card-body">
        <p>Ban co chac muon xoa san pham <strong>@Model.Name</strong></p>
        <div class="text-center">
            <form action="~/Product/DeleteById" method="post">
                <input type="hidden" asp-for="Id">
                <button type="submit" class="btn btn-outline-dark">Xoa</button>
                <a href="~/Product" class="btn btn-outline-dark">Thoat</a>
            </form>
        </div>
    </div>
</div>