@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/anhnbt-logo.png" alt="AnhNBT Logo"
                         class="rounded mx-auto d-block mb-3"
                         width="300px">
    <p>My blog <a href="https://anhnbt.com/">anhnbt.com</a>.</p>
</div>
